*{margin: 0;padding: 0}
.container{
    background:#000;
    color:#fff;
    font-size:0.5rem;
    padding: 0;
    height: 40px;
    line-height:40px ;
}
.container .firstDiv ul li a{
    color: #fff;
    text-decoration: none;
    margin-left:5px;
    margin-right:5px;
}
.container .firstDiv ul li a b{
    margin-left: 10px;
}
.container .nDiv a:first-child img{
    width:55px;
    height:55px;
}
.container .nDiv a:nth-child(2) img{
    width: 125px;
    height: 55px;
    margin-left: 10px;
}
.container .nDiv .nav{
    font-size: 16px;
    height: 55px;
    line-height: 55px;
}
.container .nDiv .nav li span{
    color:#333;
}
.container .nDiv .nav a{
    padding:0 0 0 15px;
}
.nDiv .nav li:first-child div ul{
   visibility: hidden;
}
.nDiv .nav li:hover{
    visibility: visible;
}