body{
    background-color: #f7f7f7;
}
/*头部*/
.header{
    margin-top: 20px ;
    border-bottom: 2px solid #ff6700 ;
}
.cart p{
    font-size: 28px;
    line-height: 48px;
    font-weight: normal;
    color: #424242;
    margin-left: 30px;
}
.cart{
    width: 100%;
    height: 75px;
}
.cart .login{
    position: relative;
    float: right;
    top:-45px;
    margin-right: 20px;
}
.login a{
    text-decoration: none;
    color: #808080;
    padding-left:10px;
}
.login a:hover{
    color: #ff6700;
}
/*空购物车*/
.cartGoods{
    height: 273px;
    padding-left: 385px;
    background: url(../img/cart/cart-empty.png) no-repeat -41px 0;
    margin: 65px 0 130px;
    color: #b0b0b0;
    overflow: hidden;
}
.cartGoods h2{
    margin-top:60px;
    margin-bottom: 0;
}
.cartGoods p{
    margin: 10px;
}
.cartGoods a{
    display: inline-block;
    width: 170px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
}
.nowLogin{
    background-color: #f25807;
    border-color: #f25807;
    color: #fff
}
.nowLogin:hover{
    text-decoration: none;
    color: #fff
}
.nowCart:hover{
    text-decoration: none;
    color:#f25807
}
.nowCart{
    color:#f25807 ;
    border: 1px solid #f25807 ;
    margin-left: 10px;
}
/*购物车*/
.yunF>.count,.yunF>.price{
    color:#f25807;
}
.cartTxt{
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
span{
    font-size: 14px;
    color:#333;
}
.count,.price{
    color:#f25807;
}
.detail div{
    color:#808080;
    font-size: 14px;
    border-top:1px solid #bbb;

}
.qq{
    color:#808080;
}
.row{
    height: 36px;
    background-color: #ddd;
    line-height: 36px;
}
.emp{height: 42px}
.taSelect{
    color:#333;
}
.taSelect:hover{cursor: pointer;}
.del{
    color:#808080;
    margin-left: 5px;
}
.del:hover{color: #f25807}
.clear{
    color: #fff;
    background: #ccc;
    margin-left:  5px;
}
.total{
    position: relative;
    width: 133px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #f25807;
    display: block;
    float: right;
    border-radius: 2px;
    color: #fff;
    right: -14px;
}
.total:hover{
    text-decoration: none;
    color: #fff
}