body{text-align: center;}
.container{
    margin: 0 auto;
    padding: 0 auto;
    width:1321px;
}
.container .home{
    background: #f8e6ce;
    height: 460px;
    align-items: center;

}
.container #demo .carousel-inner .carousel-item img{
    width: 992px;
    height: 460px;
}
.container .home .homeList li a{
    text-decoration: none;
    width: 234px;
    height: 42px;
    color:#fff;
}
.row div a img{
    width:316px;
    height:170px;
}
.container .firstFloor ul a{
    color:#fff;
    display: block;
    margin-top: 10px;
}
.container .firstFloor{
    width:1226px;
}
.container .firstFloor .row img {
    padding-left:25px;
}
.container .firstFloor ul{
    background: #5f5750;
    width:234px;
    height:170px;
}
.container .secondFloor div.col-3 img{
    width: 160px;
    height: 160px;
    top:12px;
}
.container .secondFloor div.col-3 h3{
    font-size: 14px;
    color:#212121;
    text-align:center;
}
.container .secondFloor div.col-3 p:first-child{
    color:#b0b0b0;
}
.container .secondFloor div.col-3 p{
    font-size: 12px;
    text-align: center;
    width: 234px;
}
.container .secondFloor div.col-3 p:last-child{
    color:#ff6709;
}
.container .secondFloor  div.col-3{
    background: #fafafa;
    padding:0;
    margin-right:14px;
    width: 234px;
    height: 340px;
    text-align: center;
}
.container .secondFloor .rowList{
    width: 1240px;
    border: 1px solid red
}
.container .secondFloor .rowList div.col-3{
    background: #fafafa;
    padding:0;
    margin-right:14px;
    width: 234px;
    height: 340px;
    text-align: center;
}
<!--家电层-->
.container .hList firstImg img{
    width:234px;
    height:614px;
    }
.container .hList .homeItem .col-3 img{
    width:150px;
    height: 150px;
}
.container .hList .homeItem .col-3 h3 a{
    text-decoration: none;
    color:#333;
    font-size:14px;
    overflow: hidden;
    text-align: center;
}
.container .hList .homeItem .col-3 p{
    font-size: 12px;
    overflow: hidden;
    text-align: center;
}
.container .hList .homeItem .col-3 h3+p{
    color:#b0b0b0;
}
.container .hList .homeItem .col-3 p:last-child{
    color:#ff6700
}
.container .hList .homeItem .col-3{
    width:234px;
    height: 300px;
    margin:0 0 14px 14px;
    padding:0;
}