.container{
    margin: 0 auto;
    padding: 0;
    width:100%;
}
 .home{
    background: #f8e6ce;
    height: 460px;
    align-items: center;

}
#demo .carousel-inner .carousel-item img{
    width: 970px;
    height: 460px;
}
.home .homeList li a{
    text-decoration: none;
    width: 234px;
    height: 42px;
    color:#fff;
}
.arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow::after{
    content: '';
    width: 15px;
    height: 15px;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
    transform: rotate(45deg);
}
.row div a img{
    width:316px;
    height:170px;
    margin-left: 14px;
}
.firstFloor ul a{
   position: absolute;
   color:rgba(2555,255,255,0.7);
   text-decoration: none;
   font-size: 12px;
   padding-top: 42px;
   width: 58px;
   height: 64px;
}
 .firstFloor ul a:hover{
    color: #fff;
}
.firstFloor{
    margin-top: 14px;
    margin-bottom: 26px;
    width:1226px;
}
.container .firstFloor .row{
    width: 992px;
}
 .firstFloor ul{
    list-style: none;
    background: #5f5750;
    width:234px;
    height:170px;
    padding: 0;
}
.firstFloor ul li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding-left: 20px;
    left: 5px;
}
 .secondFloor{
    width: 1226px;
}
.secondFloor .row{
    margin-left: 14px;
 }
.arrowR{
    margin-right: 15px;
    margin-top: 14px;
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #ccc;
}
.arrowR::after{
    content: '';
    width: 15px;
    height: 15px;
    border-top:3px solid #333;
    border-right:3px solid #333;
    transform: rotate(45deg);
}
.arrowR:hover{border-color:#ff6700}
.arrowL:hover{border-color:#ff6700}
.arrowL{
    padding-left: 8px;
    margin-top: 14px;
    width: 30px;
    height: 24px;
    margin-right: 15px;
    border:1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowL::after{
    content: '';
    width: 15px;
    height: 15px;
    border-top:3px solid #333;
    border-left:3px solid #333;
    transform: rotate(-45deg);
}
 .secondFloor div.col-3 img{
    width: 160px;
    height: 160px;
    top:12px;
    margin-left: 0;
}
 .secondFloor div.col-3 h3{
    font-size: 14px;
    color:#212121;
    text-align:center;
}
.secondFloor div.col-3 p:first-child{
    color:#b0b0b0;
}
 .secondFloor div.col-3 p{
    font-size: 12px;
    text-align: center;
    width: 234px;
}
 .secondFloor div.col-3 p:last-child{
    color:#ff6709;
}
 .secondFloor  div.col-3{
    background: #fafafa;
    padding:0;
    margin-right:14px;
    width: 234px;
    height: 340px;
    text-align: center;
    flex: none;
}
.secondFloor .d-flex h2{
    color:#333;
    font-size: 22px;
    line-height: 58px;
}
.secondFloor .tm{
    width: 234px;
    height: 340px;
    background-color: #f1eded;
    text-align: center;
}
.secondFloor .tm p:first-child{
    color:#ef3a3b;
    font-size:21px;
    padding-top: 45px;
}
.secondFloor .tm img{
    margin: 25px 0 25px 0;
}
.secondFloor .tm .dis{
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}
.secondFloor .tm .date{
    width: 46px;
    font-size: 24px;
    color:#fff;
    background-color: #605751;
}
.secondFloor .tm span{
    height: 46px;
    line-height: 46px;
}
.secondFloor .tm .fh{
    width: 15px;
    font-size: 28px;
    color:#605751;
}
/*家电层*/
.products{
    background-color: #fafafa;
    margin-top: 20px;
}
 .hList .fmg img{
    width:234px;
    height:614px;
    }
.hList .fmg>a img:hover{
    transform:scaleY(1.01);
}
 .hList .homeItem .col-3 img{
    width:150px;
    height: 150px;
    margin-left: 0;
}
 .hList .homeItem .col-3 h3 a{
    text-decoration: none;
    color:#333;
    font-size:14px;

}
.hList .homeItem .col-3 p{
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 8px;
}
 .hList .homeItem .col-3 h3+p{
    color:#b0b0b0;
}
 .hList .homeItem .col-3 p:last-child{
    color:#ff6700
}
 .hList .homeItem .col-3{
    width:234px ;
    height: 300px;
    margin:0 0 14px 14px;
    padding:0;
    text-align: center;
     background-color: #fff;
    flex: none;
}
.hList p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hList h3{
  font-size: 22px;
  color:#333;
  line-height: 58px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.hList ul a{
    text-decoration: none;
    color:#333;
    line-height: 58px;
}
.hList ul li{
    margin-left: 30px;
}
.hList .row{
    width: 992px;
}
.hList{
    width: 1226px;
}
/*智能、搭配、配件、周边*/
.othList .homeItem .col-3 img{
    width:150px;
    height: 150px;
    margin-left: 0;
}
.othList .homeItem .col-3 h3 a{
    text-decoration: none;
    color:#333;
    font-size:14px;

}
.othList .homeItem .col-3 p{
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 8px;
}
.othList .homeItem .col-3 h3+p{
    color:#b0b0b0;
}
.othList .homeItem .col-3 p:last-child{
    color:#ff6700
}
.othList .homeItem .col-3{
    width:234px ;
    height: 300px;
    margin:0 0 14px 14px;
    padding:0;
    text-align: center;
    background-color: #fff;
    flex: none;
}
.othList .leftImg img:hover{
    transform: scaleY(1.01);
}
.othList p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.othList h3{
    font-size: 22px;
    color:#333;
    line-height: 58px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.othList ul a{
    text-decoration: none;
    color:#333;
    line-height: 58px;
}
.othList ul li{
    margin-left: 30px;
}
.othList .row{
    width: 992px;
}
.othList{
    width: 1226px;
}
.othList .intell img{
    width: 234px;
    height: 300px;
}
.othList .intel img{
    width: 234px;
    height: 300px;
}
/*视频*/
.video .title h3{
    font-size: 22px;
    color:#333;
    line-height: 58px;
    margin: 0;
    }
.video .title a{
    text-decoration: none;
    font-size: 16px;
    line-height: 58px;
    color: #334;
}
.video .col-3 h3{
   margin: 10px 0;
    color:#333;
    font-size: 18px;
    text-align: center;
}
.video .col-3 p{
    color:#b0b0b0;
    font-size: 14px;
    text-align: center;
}
.video .row{
    width: 1226px;
}