/*导航条*/
.nav-Pro{
    width: 100%;
    margin: 30px auto;
    border: 1px solid #b0b0b0;
    height: 65px;
    line-height: 65px;
    box-shadow:0 5px 20px #b0b0b0;
}
.nav-Pro,.nav-s{
    text-decoration: none;
    color:#757575;
    font-size: 12px;
}
.nav-Pro a:hover{
    color:#ff6700;
}
 ul li{
    margin-left:6px;
}
.nav-Pro h3{
    color:#212121;
    font-size: 18px;
    margin-right:6px;
    line-height: 64px;
}
.navItem a{
    margin-left: 8px;
}
.nav-Pro a{
   color: #616161; 
}
/*商品详情信息*/
.product{
    display: flex;
    flex-direction: column;
}
.pro-til{
    font-size: 24px;
    color: #212121;
    font-weight: normal;
}
.pro-inf{
    color: #b0b0b0;
    margin-bottom: 0;
    padding-top:8px;
    font-size: 14px;
}
.product .pro-inf span{
    color: rgb(255, 74, 0)
}
.price{
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}
.goods{
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}
.good-inf{
    display: inline-block;
    height: 24px;
    width: 60px;
    padding: 2px 0;
    text-align: center;
    background: #ff6700;
    color: #fff;
}
.good span {
    line-height: 24px;
    font-size:14px;
}
.addr{
    top: 35px;
    border: 1px solid #e0e0e0;
    margin-top: 45px;
    padding: 40px 30px;
    background-color: #fafafa;
}
.ophSize p,.pro-color p,.pro-ch p{
    font-size: 18px;
    line-height: 3;
    margin-bottom: 0;
}
.ophSize a,.pro-color a{
    display:inline-block;
    line-height: 40px;
    width: 272px;
    font-size: 18px;
    text-decoration: none;
    color: #757575;
    border: 1px solid #757575;
    padding: 0 27px;
    margin-top: 10px;
    justify-content: space-between;
}
.keep{margin-right: 51px}
.pro-ch a{
    text-decoration: none;
    font-size: 12px;
    color:#ff6700;
    margin-top: 16px;
}
.insurance{
    height:140px;
    padding: 30px 0;
    border: 1px solid #757575;
}
.p1{
    position: relative;
    font-size: 18px;
    left: 125px;
    top: -45px;
}
.p2{
    position: relative;
    font-size: 14px;
    height: 18px;
    color: #b0b0b0;
    top:-57px;
    left: 126px;
}
.read{
    position: relative;
    top:-91px;
    left: 145px;
}
.insurance .ch-box{
    position: relative;
    left: 125px;
    top: -65px;
}
.read a{
    color: #ff6700;
    text-decoration: none;
    padding: 0 10px;
}
.price{
    color:#757575;
    padding-top: 0;
}
.total{
    margin-top: 20px;
    height: 120px;
    background-color: #fafafa;
}
.detail{
    margin:20px 0 0 30px;
    color:#616161;
    font-size: 16px;
}
.maths{
    margin-left: 178px;
}
.to-toal{
    margin:20px 0 0 30px;
    color:#ff6700;
    font-size: 24px;
}
.cart{
    text-decoration:none;
    font-size: 18px;
    color: #fff;
    background-color:#ff6700;
    text-align: center ;
    line-height: 50px;
    width: 400px;
    height: 52px;
    margin: 15px 0;
}
.cart:hover{
    text-decoration:none;
    color: #fff;
}
.list{
    background-color: #fafafa;
}
.list h3{
    font-size: 22px;
    font-weight: normal;
}
